<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns:b="http://www.springframework.org/schema/beans" 
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd 
                            http://www.springframework.org/schema/security 
                            http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    
    <http>

		<intercept-url pattern="/admin/**" access="ROLE_ADMINISTRADOR" />
		<intercept-url pattern="/restrict/**" access="ROLE_USUARIO,ROLE_ADMINISTRADOR"/>
		<form-login login-page="/public/login.xhtml"
			always-use-default-target="true" default-target-url="/restrict/principal.xhtml"
			authentication-failure-url="/public/login.xhtml?login_error=1" />
		<logout invalidate-session="true"
                        logout-success-url="/index.html"/>
		<remember-me />
	</http>

	<authentication-manager>
		<authentication-provider>
                        <password-encoder hash="md5"/>
			<jdbc-user-service data-source-ref="LicencasDataSource"
				authorities-by-username-query="SELECT u.login, p.permissao 
											 FROM usuario u, usuario_permissao p 
											WHERE u.codigo = p.usuario 
											  AND u.login = ?"
				users-by-username-query="SELECT login, senha, ativo 
									   FROM usuario 
									  WHERE login = ?" />
		</authentication-provider>
	</authentication-manager>
    

</b:beans>
